		
<html>
	<head>
		<title>
			se mid-term - Cart 
		</title>
		<h1>
			管理員主頁面 <br/> {{ user }} {{ title }}
		</h1>
	</head>
	<body>
		<button type = 'button' id = 'log_out'>登出</button>
		<table border = 2>
        	{% for product in all_products %}
				<tr>
					<td><span><b>商品代號：</b></span>{{ product.0 }}</td>
					<td><span><b>商品名稱：</b></span>{{ product.1 }}</td>
					<td><span><b>商品價格：</b></span>{{ product.2 }}</td>
					<td><span><b>商品數量：</b></span>{{ product.3 }}</td>
				</tr>
			{% endfor %}
		</table>
        <form enctype = "multipart/form-data" method = "post">
            {% csrf_token %}
			<span>新增</span>
            {{ insertProduct.as_p }}
            <input name = 'insert' type = "submit"></input>
		</form>
        <form enctype = "multipart/form-data" method = "post">
            {% csrf_token %}
			<span>刪除</span>
            {{ delProduct.as_p }}
            <input name = 'del' type = "submit"></input>
		</form>
        <form enctype = "multipart/form-data" method = "post">
            {% csrf_token %}
			<span>更新</span>
            {{ updateProduct.as_p }}
            <input name = 'update' type = "submit"></input>
        </form>
	</body>
    <script>
		function getId(id) {
			return document.getElementById(id);
		}

		getId('log_out').addEventListener('click', logOut);

		function logOut() {
			window.location.href = '/';
		}
	</script>
</html>

